.banner{
	width: 100%;
}
.banner .share{
    padding-left: 45%;
}
.text{
	padding-right: 10%;
	padding-left: 10%;
}
#pullQuote{
	width: 20%;
	font-size: 20px;
	padding-top: 2%;
	padding-bottom: 2%;
}
#overlay{
	padding-bottom: 5%;
}
#covered{
	padding-bottom: 60%;
	padding-top: 3%;
}
#graph{
	overflow: hidden;
	width: 100%;
}
