body{
	margin: 0px;
}
h1{
	text-align: center;
	font-family: times;
}
.text{
    margin: auto;
	padding-left: 355px;
	padding-right: 355px;
	max-width: 900px;
	position: relative;
}
.slider {
    position: relative;
    overflow: hidden;
    height: 150px;
    max-width: 940px;
    margin: 0px auto 30px auto;}
}
.inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 40px;
}
.logo {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
.logo:first-child {
    display: block;
}
.slide-btn{
    border: none;
    background-color: #FFFFFF;
    padding-left: 40px;
    outline: ;
}
.slide-button{
    text-align: center;
    padding-bottom: 20px;
}





