body {
    margin: 0px;
    z-index: 0;
}
.banner {
    width: 100%;
    background-color: black;
    position: fixed;
    height: 4.8%;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
    z-index: 1000;
}
.banner #logo {
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 20px;
    font-family:'exo-black', sans-serif;
}
.banner #twitter {
    width: 100%;
    cursor: pointer;
    position: absolute;
    margin-left: 65%
}
.banner #fb {
    width: 100%;
    cursor: pointer;
    position: absolute;
    margin-left: 70%;
}
@font-face {
    font-family:'exo-black';
    src: url(../fonts/exo-black.otf);
}
.text {
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    font-size: 19px;
    font-family:'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    line-height: 35px;
}
.plink {
    color: black;
}
#videoHolder {
    z-index: 1003;
    position: relative;
}
#videoCont {
    z-index: 1003;
    position: relative;
}
#pullQuote {
    float: left;
    padding-right: 3%;
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 30px;
    width: 35%;
    position: relative;
    font-family:'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    line-height: 140%;
}
#graph1 {
    z-index: 1001;
    position: relative;
}
#graph2 {
    z-index: 1001;
    position: relative;
}
#graph3 {
    z-index: 1001;
    position: relative;
}
#byline {
    font-size: 16px;
}
.capt {
    margin: auto;
    font-size: 14px;
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    color: #A0A0A0;
    font-family:'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
#byLine {
    font-size: 15px;
    color: #A0A0A0;
}
.twitHan {
    color: #A0A0A0;
    text-decoration: none;
    cursor: pointer;
}